<div class="d-flex justify-content-left flex-row mt-3 mb-3">
    <div class="p-2">
        <button class="btn btn-outline-success" type="button" (click)="OnClickAddNew()" routerLink="new">Add new Dog</button>
    </div>
</div>

<div class="d-flex flex-column text-center" id = "dogDiv" *ngFor='let dog of dogStartData'>
    <div [routerLink] = "[dog.id]">
        <p>
            <a class= "btn btn-dark w-50" data-bs-toggle="collapse" href="#{{dog.id}}" role="button" aria-expanded="false">
            {{dog.name}}  
            </a> 
        </p>
    </div>
    <div class="collapse" id = "{{dog.id}}" [routerLinkActive]="['in']"> 
        <ul class= "list-group" justify-content-center mx-auto> 
            <li class= "list-group-item">
                    Dogs name is: {{dog.name}}
                <button type= "button" class= "btn btn-success ms-5" (click)="OnClickEdit(dog.id)" [routerLink]= "[dog.id,'edit']" routerLinkActive="active"> 
                    Edit  
                </button> 
                <button type= "button" class= "btn btn-danger ms-5" (click)="OnClickDelete(dog.id)"> 
                    Delete
                </button> 
            </li> 

            <li class = "list-group-item">
                <img src = "{{dog.image_link}}"> 
            </li> 

            <li class= "list-group-item">
                <p>How good with children on a scale of 1-5: {{dog.good_with_children}}</p> 
            </li> 

            <li class="list-group-item">
                <p>Maximum life expectancy (years): {{dog.max_life_expectancy}}</p> 
            </li> 

            <li class="list-group-item">
                <p>Enerylevel on a scale of 1-5: {{dog.energy}}</p> 
            </li> 
        </ul> 
    </div>
</div>